/* CSS Document */
html {
    height: 100%;
}
body{
    background: #F8F8F8;
    margin:0;
    height: 100%;
}

.main-body{
    width: 1200px;
    margin: 0 auto;
    /* 最小高度铺满整个可视区域屏幕 */
    min-height: calc(100% - 293px); 
    height: auto !important; 
    position: relative;
    display:block;
    padding-bottom:25px;

}
.login-nav{
    width: 100%;
    height: 36px;
    border-bottom: solid 1px #ddd;
    line-height: 33px;
}
.login-nav .login-nav-bd{
    width: 1200px;
    margin: 0 auto;
    height: 100%;
}
.login-nav span{
    color:#DC0000;
}
.login-nav a{
    font-size:12px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:#6C6C6C;
    
}
.login-nav .login-nav-bd-l{
    position: relative;
    float: left;
}
.login-nav .login-nav-bd-r{
    float: right;
    position: relative;
}
.qr-a:hover + .qr{
    display: block;
}
.qr:hover{
    display: block;
}
.qr {
    position: absolute;
    height: 110px;
    left: 155px;
    background-color: #f5f5f5;
    border: solid 1px #eee;
    border-top-width: 0px;
    z-index: 1001;
    display: none;
}
.site-nav-bd .menu .menu-hd a {
    float: left;
    margin-right: 7px;
    font-size: 12px;
}
.qr .qr-bd {
    position: relative;
    cursor: pointer;
    display: block;
    text-align: center;
    width: 100px;
    color: #6c6c6c;
}
.qr a {
    margin-right: 0px!important;
}
.qr .qr-bd span {
    display: block;
    line-height: 20px;
    height: 20px;
    margin: 0px auto;
}
.qr .qr-bd img {
    display: block;
    width: 80px;
    height: 80px;
    margin: 0px auto 5px;
}
.qq_a{
    width: 70px;
    display: inline-block;
    text-align: center;
    height: 100%;
}
.qq_a:hover{
    background: #fff;
    color:#DC0000;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    box-sizing: border-box;
}
.qq_a.active{
    background: #fff;
    color:#DC0000;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    box-sizing: border-box;
}
.qq_a:hover+ .qq_helpers{
    display: block;
}
.qq_helpers:hover {
    display: block;
}
.qq_helpers:hover+ .qq_a{
    background: #fff;
    color:#DC0000;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    box-sizing: border-box;
}
.qq_helpers {
    width: 130px;
    display: none;
    position: absolute;
    border: 1px solid #EEEEEE;
    top: 35px;
    background: #fff;
    right: 1px;
    padding-bottom: 5px;
    z-index: 10000;
    border-top: none;
}
.qq_helpers ul li {
    line-height: 33px;
    height: 33px;
    display: block;
    border-bottom: 1px dashed #EEEEEE;
    padding: 5px 5px 0px 5px;
}
.qq_helpers a {
    font-size: 13px!important;
    margin: 0px!important;
    width: auto!important;

}

.qq_helpers ul li:hover{
    background:#F5F5F5;
}
.qq_helpers a:hover{
    margin:0px!important;
    font-size:13px!important;
    color: #DC0000;
}
.qq_helpers .qqbgSpan {
    display: block;
    float: left;
    width: 29px;
    height: 30px;
    background-image: url(../image/qqkefu.png);
    background-repeat: no-repeat;
    background-size: 90px;
    background-position: -6px -27px;
}
.qq_helpers .qqphone {
    background-position: -6px -67px;
}
.header-nav{
    width: 100%;
    height: 135px;
    
}
.header-nav-bd{
    width: 1200px;
    margin: 0 auto;
    height: 100%;
}
.header-nav .header-nav-bd-comp{
    background: #FFF;
    height: 91px;
}

.header-nav-bd-comp .comp-left{
    float: left;
    margin-top: 11px;
}
.comp-left .logo-div{
    display: inline-block;
    float: left;
    margin-right: 10px;

}
.comp-left .logo-div .logo-img{
    max-width:131px;
    max-height:47px;
    float: left;
    padding-top: 7px;
    margin-right: 10px;
}
.comp-left span{
    display: block;
}
.comp-left .company-name {
    font-weight: 600;
    color: #253544;
    font-size: 20px;
    line-height: 30px;
}
.comp-left .company-tel {
    font-size:15px;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:#DC0000;
}

.comp-left .company-name {
    font-weight: 600;
    color: #253544;
    font-size: 20px;
    line-height: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.company-tel i{
    background: url(../image/comp-tel.png) no-repeat center center;
    display: inline-block;
    margin-right: 10px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
.header-nav-bd-comp .comp-right{
    float: right;
    color:#DC0000;
    padding: 35px 10px 0;
}

.comp-right a {
    line-height: 21px;
    height: 21px;
    color: #dc0000;
    margin-right: 15px;
    float: left;
}

.comp-right i {
    display: inline-block;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    margin-bottom: -4px;
}
.resource i {
    background: url(../image/icon-addres.png) no-repeat center center;
}
.linkup i {
    background: url(../image/linkup.png) no-repeat center center;
}

.header-nav .header-nav-bd-menu{
    height: 44px;
    background: #DC0000;
}
.header-nav .header-nav-bd-menu ul{
    width: 100%;
    margin: 0 auto;
    height: 100%;
}
.header-nav .header-nav-bd-menu li{
    float: left;
    display: inline-block;
    position: relative
}
.header-nav .header-nav-bd-menu li.active{
    background: #990000;
}
.header-nav .header-nav-bd-menu li a{
    display: inline-block;
    width: 200px;
    text-align: center;
    line-height: 44px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    background: none;
}

.header-nav .header-nav-bd-menu li:not(.last):not(.active):after{
    display: inline-block;
    content: '|';
    color: #fff;
    width: 1px;
    position: absolute;
    right: 3px;
    line-height: 40px;
}
.footer {
    width: 100%;
    height: 91px;
    background: #F8F8F8;
    border-top: 2px solid #DC0000;
    position: relative;
}
.footer .footer-menu {
    border-top: 3px solid #DC0000;
    padding: 20px 0 10px 0;
    text-align: center;
    color: #666666;
    font-size: 10px;
    height: 20px;
}
.footer .footer-menu:before {
    content: '';
    position: absolute;
    top: -1px;
    background: #F8F8F8;
    width: 100%;
    height: 1px;
    left: 0;
    right: 0;
}
.footer .footer-menu a{
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    color: #666666;
    padding: 0 15px;
    position: relative;
    
}
.footer .footer-menu a:not(.last) {
    border-right: 1px solid #666666;
}
.footer .copyright {
    text-align: center;
    color: #999999;
    line-height: 24px;
    font-size: 14px;
}
.footer .copyright span{
    margin-right: 20px;
}




