.banner_swiper img{
    display: block;
    object-fit: cover;
}
.banner_swiper{
    width: 1200px;
    position: relative;
}
.banner_swiper ul{
    height: 362px;

}
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 100%;
    background: none;
    opacity: 1;
    border: 1px solid #FFF;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #FFF;
}

.product_info{
    width:1200px;
    height:594px;
    background:#FFFFFF;
    margin-top: 20px;
}
.product_top{
    width: 1165px;
    height: 56px;
    border-bottom: 1px solid #F2F2F2;
    margin: 0 auto;
}
.product_top .top_left{
    float: left;
    border-left: 3px solid red;
    padding-left: 10px;
    margin: 15px 0;
    padding-left: 10px;
} 
.product_top .top_left .top_left_title{
    font-size:25px;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:#222222;
}
.product_top .top_left .top_left_eng{
    font-size:12px;
    font-family:MicrosoftYaHeiLight;
    font-weight:300;
    color:#999999;
}
.product_top .top_right{
    float :right;
    color:#D60000;
    margin: 10px 0;
    margin: 20px 20px;

}
.product_top .top_right span{
    color:#D60000;
}
.more:after{
    content: '+';
    display: inline-block;
    color: #D60000;
    width: 15px;
    height: 15px;
    position: absolute;
    font-size: 25px;
    margin: -6px 0px 0 3px;
}
.product_content{
    width: 1165px;
    height: 100%;
    margin: 0 auto;
    margin-top: 20px;
}
.product_content ul{
    width: 1165px;
    height: 100%;
    margin: 0 auto;
}
.product_content ul li{
    width:178px;
    height:240px;
    border:1px solid #F2F2F2;
    float: left;
    margin-right: 17px;
    margin-bottom: 17px;
}
.product_content ul li.last{
    margin-right: 0px;
}
.product_content .li_content{
    width:100%;height:100%;
}
.product_content .li_content .li_top{
    height: 164px;
    border-bottom: 1px solid #F2F2F2;
    text-align: center;
}
.product_content .li_content .li_top img{
    max-width: 150px;
    max-height: 150px;
    margin-top: 7px;
}
.product_content .li_content .li_bottom{
    width: 162px;
    margin-left: 9px;
    padding: 10px 0;
    line-height: 18px;
}
.product_content .li_content .li_bottom span{
    text-align: left;
    display: inline-block;
    font-size:14px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:#333333;
}
.product_content .li_content .li_bottom span.view_count,.product_content .li_content .li_bottom span.download_count{
    text-align: left;
    display: inline-block;
    font-size:12px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:#999999;
}
.product_content .li_content .li_bottom span.view_count i, .product_content .li_content .li_bottom span.download_count i{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 5px 6px -5px 0;
}
.product_content .li_content .li_bottom span.view_count i{
    background: url(../image/view.png) no-repeat center center;
}
.product_content .li_content .li_bottom span.download_count i{
    background: url(../image/download.png) no-repeat center center;
}

.quali_info{
    width:1200px;
    height:256px;
    background:#FFFFFF;
    margin-top: 20px;
}
.quali_top{
    width: 1165px;
    height: 56px;
    border-bottom: 1px solid #F2F2F2;
    margin: 0 auto;
}
.quali_top .top_left{
    float: left;
    border-left: 3px solid red;
    padding-left: 10px;
    margin: 15px 0;
    padding-left: 10px;
} 

.quali_top .top_left .top_left_title{
    font-size:25px;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:#222222;
}
.quali_top .top_left .top_left_eng{
    font-size:12px;
    font-family:MicrosoftYaHeiLight;
    font-weight:300;
    color:#999999;
}
.quali_top .top_right{
    float :right;
    color:#D60000;
    margin: 10px 0;
    margin: 20px 20px;

}
.quali_top .top_right span{
    color:#D60000;
}
.quali_content{
    width: 1165px;
    height: 174px;
    margin: 0 auto;
    text-align: center;
}
.quali_content ul{
    width: 1165px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 23px;
}
.quali_content li {
    float: left;
    width: 219px;
    height: 147px;
    margin: 0 17px 0 0;
}
.quali_content li img{
    max-width: 219px;
    max-height: 147px;
}
.quali_content ul li.last{
    margin-right: 0px;
}
.swiper-button-next {
    background-image: url(/static/image/next.png) !important;
    width: 24px;
    height: 52px;
    background: #000000 no-repeat;
    opacity: 0.6;
    background-position: 8px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    position: absolute;
    right: 5px;
}

.swiper-button-prev {
    background-image: url(/static/image/previous.png) !important;
    width: 24px;
    height: 52px;
    background: #000000 no-repeat;
    opacity: 0.6;
    background-position: 8px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    position: absolute;
    left: 5px;
}

.recommend_info{
    width:1200px;
    height:256px;
    background:#FFFFFF;
    margin-top: 20px;
}
.recommend__top{
    width: 1165px;
    height: 56px;
    border-bottom: 1px solid #F2F2F2;
    margin: 0 auto;
}
.recommend__top .top_left{
    float: left;
    border-left: 3px solid red;
    padding-left: 10px;
    margin: 15px 0;
    padding-left: 10px;
} 
.recommend__top .top_left .top_left_title{
    font-size:25px;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:#222222;
}
.recommend__top .top_left .top_left_eng{
    font-size:12px;
    font-family:MicrosoftYaHeiLight;
    font-weight:300;
    color:#999999;
}
.recommend__top .top_right{
    float :right;
    color:#D60000;
    margin: 10px 0;
    margin: 20px 20px;

}
.recommend__top .top_right span{
    color:#D60000;
}
.recommend__content{
    width: 1165px;
    height: 174px;
    margin: 0 auto;
    text-align: center;
}
.recommend__content ul{
    width: 1165px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 23px;
}
.recommend__content li {
    float: left;
    width: 219px;
    height: 160px;
    margin: 0 17px 0 0;
    position: relative;
    
}
.recommend__content li .li_img{
    width: 219px;
    border:1px solid #F2F2F2;
    height: 127px;
}
.recommend__content li img{
    max-width: 219px;
    max-height: 127px;
}
.recommend__content ul li.last{
    margin-right: 0px;
}
.recommend__content ul li .li_title{
    width: 210px;
    height: 21px;
    font-size: 14px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: #666666;
    line-height: 22px;
    margin: 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
    position: absolute;
    bottom: 0;
}