<div class="footer">
    <div class="footer-menu">
        <a href="/index.html" class="first">首页</a>
        <a href="/category.html">产品中心</a>
        <a href="/produce.html">生产能力</a>
        <a href="/quali.html">企业资质</a>
        <a href="/news.html">新闻动态</a>
        <a class='last' href="/about.html">企业介绍</a>
    </div>
    <div class="copyright">
        <span>地址：{$company_info.company_address}</span>        
        <span> 联系电话：{$company_info.company_tel}</span>        
        <span> Copyright@2018迈迪网</span>
    </div>
</div>