


<div class='login-nav'>
    <div class='login-nav-bd'>

        <div class='login-nav-bd-l'>
            <a href="">您好，请登录</a>
            <a href="">企业注册</a>
            <a href="">个人注册</a>
            <a href=""><span>手机迈迪</span></a>
        </div>
        <div class='login-nav-bd-r'>
                <a href=""><span>迈迪网</span></a>
                <a href="">进货单[<span>0</span>]</a>
                <a href="">我的消息[<span>0</span>]</a>
                <a href="">联系迈迪</a>
        </div>
    </div>

</div>