


<div class='login-nav'>
    <div class='login-nav-bd'>
        <div class='login-nav-bd-l'>
            <a href="//i.maidiyun.com/join/login.htm?refUrl=//{:$_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI']}">您好，请登录</a>
            <a href="//www.maidiyun.com/join/reg.aspx?type=2">企业注册</a>
            <a href="//www.maidiyun.com/join/reg.aspx">个人注册</a>
            <a href="javascript:void(0);" class='qr-a'><span style="height: 35px;display: inline-block;">手机迈迪</span></a>
            <div class="qr"><a class="qr-bd"><span>扫一扫更精彩</span><img src="//g.maidiyun.com/images/qr_phone.png" alt="手机迈迪"></a></div>                
        </div>
        <div class='login-nav-bd-r'>
                <a href="//www.maidiyun.com"><span>迈迪网</span></a>
                <a href="//buy.maidiyun.com/cart">进货单[<span>0</span>]</a>
                <a href="//i.maidiyun.com/user/UserMessage.htm">我的消息[<span>0</span>]</a>
                <a href="//www.maidiyun.com/download">下载专区</a>
                <a href="javascript:void(0);" class='qq_a' >联系迈迪</a>
                <div class="qq_helpers"  onmouseover="$('.qq_a').addClass('active');" onmouseout="$('.qq_a').removeClass('active');">
                    <ul>
                        <li>
                            <a href="tencent://message/?uin=3207617856&amp;Site=www.maidiyun.com&amp;Menu=yes" target="_blank">
                                <span class="qqbgSpan qqline1">&nbsp;</span>销售专员01
                            </a>
                        </li>
                        <li><a href="tencent://message/?uin=2840775274&amp;Site=www.maidiyun.com&amp;Menu=yes" target="_blank">
                            <span class="qqbgSpan qqline1">&nbsp;</span>技术支持01
                        </a>
                        </li>
                        <li>
                            <a href="tencent://message/?uin=3088951165&amp;Site=www.maidiyun.com&amp;Menu=yes" target="_blank">
                                <span class="qqbgSpan qqline1">&nbsp;</span>技术支持02
                            </a> 
                        </li>
                        <li>
                            <a href="tencent://message/?uin=2649040464&amp;Site=www.maidiyun.com&amp;Menu=yes" target="_blank">
                                <span class="qqbgSpan qqline1">&nbsp;</span>技术支持03
                            </a>
                        </li>
                        <li>
                            <a href="tencent://message/?uin=2297805563&amp;Site=www.maidiyun.com&amp;Menu=yes" target="_blank">
                                <span class="qqbgSpan qqline1">&nbsp;</span>动画制作
                            </a>
                        </li>
                        <li>
                            <a href="tencent://message/?uin=1033786979&amp;Site=www.maidiyun.com&amp;Menu=yes" target="_blank">
                                <span class="qqbgSpan qqline1">&nbsp;</span>网站推广
                            </a>
                        </li>
                        <li>
                            <a><span class="qqbgSpan qqphone" >&nbsp;</span><span class="">400-600-2378</span></a>
                        </li>
                    </ul>
                </div>
        </div>
    </div>

</div>